
.grid {
  display: grid;
  height: 1000px;
  width: 1000px;
  grid-template: repeat(13, 13fr) / repeat(13, 13fr);
}

.space{
  background-color: beige;
  color: black;
  font-size: xx-small;
}

.top {
  grid-row-start: 1;
  grid-row-end: 3;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
  border-left: solid black 3px;
}

.jail {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 12;
  grid-column-end: 14;
  border: 3px solid black
}


.right {
  grid-column-start: 12;
  grid-column-end: 14;
  border-bottom: solid black 3px;
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.go {
  grid-row-start: 12;
  grid-row-end: 14;
  grid-column-start: 12;
  grid-column-end: 14;
  border-bottom: solid black 3px;
  border-right: solid black 3px;
}

.bottom {
  grid-row-start: 12;
  grid-row-end: 14;
  border-top: solid black 3px;
  border-right: solid black 3px;
}

.visiting {
  grid-row-start: 12;
  grid-row-end: 14;
  grid-column-start: 1;
  grid-column-end: 3;
  border: solid black 3px;
}

.left {
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: solid black 3px;
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.parking {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: solid black 3px;
  border-left: solid black 3px;
}







.railroad {
  background-color: white;
}

.property-chance-hotpink {
  background-color: hotpink;
}

.property-chance-skyblue {
  background-color: skyblue;
}

.property-chance-pink {
  background-color: pink;
}

.property-red {
  background-color: red;
}

.property-yellow {
  background-color: yellow;
}

.property-green {
  background-color: green;
}

.property-blue {
  background-color: blue;
}

.property-purple {
  background-color: purple;
}

.property-skyblue {
  background-color: skyblue;
}

.property-hotpink {
  background-color: hotpink;
}

.property-orange {
  background-color: orange;
}




#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
